astroid==2.8.6
attrs==21.4.0
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
numpy==1.22.2
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pylint==2.11.1
pyparsing==3.0.7
pytest==7.0.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
wrapt==1.13.3